.main {
    height: 100vh;
    display: flex;
    align-items: center;
}

.form {
    display: grid;
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2);
}

.h1 {
    text-align: center;
}

.message {
    height: 50px;
}

.form label {
    margin-top: 20px;
    margin-bottom: 5px;
}

.error {
    margin: 0px;
    font-size: 14px;
    color: red;
}

.form input {
    display: block;
    outline: none;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid gray;
}

.loginButton {
    display: block;
    width: 100%;
    margin-top: 20px;
    outline: none;
    border: none;
    color: #ffff;
    background-color: black;
    height: 35px;
    border-radius: 5px;
}
