.addListItemContainer{
    display: flex;
    gap: 5px;
}

.addListItemContainer input{
    width: 100%;
    height: 30px;
    outline: none;
}

.addListItemButton {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    cursor: pointer;
    background-color: black;
    border-radius: 5px;
    color: #fff;
}